Backup_2025-12-06_140048/Workflow 17.json
{
  "createdAt": "2025-12-05T16:53:34.319Z",
  "updatedAt": "2025-12-06T07:25:31.000Z",
  "id": "UyeAGUJDDSMkY6V0",
  "name": "Workflow 17",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "11Er4hGnZdrbPgItF0ClqstycQ8S3JV7_",
            "mode": "list",
            "cachedResultName": "Ad Creative",
            "cachedResultUrl": "https://drive.google.com/drive/folders/11Er4hGnZdrbPgItF0ClqstycQ8S3JV7_"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        112,
        176
      ],
      "id": "2d1ec30d-0059-45f6-bf6d-df152f8c34f3",
      "name": "list_influencer_images",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OF1WKdd2PL1HcLqp",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -80,
        176
      ],
      "id": "b8b79550-2314-4d94-80f5-18cc6c21cfcd",
      "name": "product_image_to_base64"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        128,
        400
      ],
      "id": "cbe22cb3-74e9-4498-8b37-7c44cc023d2d",
      "name": "influencer_image_to_base_64"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image-preview:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [\n      { \n        \"text\": \"Create a professional lifestyle product photograph where the person from image 2 is naturally showcasing the product from image 1. COMPOSITION & ANGLES (choose one randomly): Slightly angled from the side (30-45 degrees) at eye level, Over-the-shoulder perspective showing the product prominently, Slightly elevated angle looking down at 15-20 degrees, Low angle shot from table level looking up slightly, Straight-on angle with shallow depth of field, Three-quarter profile view with natural head turn toward camera. POSITIONS & POSES (choose one randomly): Sitting at a modern café table with product held at chest level with both hands, Standing casually against a clean wall with product in one hand at waist height, Leaning over a table with product placed in front and hands gently touching it, Seated at a workspace/desk actively using or admiring the product, Standing at a counter with product held naturally in mid-conversation pose, Sitting on a modern chair/stool with product resting on lap or held comfortably. BACKGROUNDS & SETTINGS (choose one randomly): Bright minimalist coffee shop with soft bokeh background, Modern co-working space with blurred laptops and plants, Clean home office with natural window light and neutral tones, Upscale café with warm wooden textures and soft lighting, Contemporary kitchen counter with marble or clean surfaces, Outdoor café setting with natural daylight and urban background, Minimalist studio setting with solid color backdrop and professional lighting. LIGHTING & MOOD: Natural soft lighting that feels authentic (golden hour or diffused daylight). The person should be smiling warmly and looking at the camera with genuine expression. Casual candid feeling as if a friend is taking the photo. Professional color grading with vibrant but natural tones. Sharp focus on both the person and product with artistically blurred background. STYLE REQUIREMENTS: This should look like a high-end lifestyle brand advertisement. Natural unposed feeling despite professional composition. Product should be clearly visible and well-lit. Image should evoke trust, authenticity, and relatability. Avoid overly staged or stiff poses. Include subtle environmental details that add context without distraction. Generate a final image that feels like authentic user-generated content but with professional ad quality.\" \n      },\n      {\n        \"inline_data\": {\n          \"mime_type\": \"image/png\",\n          \"data\": \"{{ $node['product_image_to_base64'].json.data }}\"\n        }\n      },\n      {\n        \"inline_data\": {\n          \"mime_type\": \"image/jpeg\",\n          \"data\": \"{{ $node['influencer_image_to_base_64'].json.data }}\"\n        }\n      }\n    ]\n  }]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        400
      ],
      "id": "a3cf66ac-8c52-45f7-865f-00a4694b559f",
      "name": "generate_image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "odw0FaTRUSGiHCOl",
          "name": "Serper dev Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "image_result",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        608,
        400
      ],
      "id": "0f8f330f-2aac-44f5-a831-7bc07c13d354",
      "name": "get_image"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "524da01b-f8b9-4c2c-9e28-319455903e4d",
              "name": "=image_result",
              "value": "={{ $json.candidates[0].content.parts.filter(item => item.inlineData).first().inlineData.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        400
      ],
      "id": "2125c579-c48b-4265-a871-36cb73cfcb64",
      "name": "set_result"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -48,
        400
      ],
      "id": "79cb0973-6b25-41a1-bf73-1a86d657a99f",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OF1WKdd2PL1HcLqp",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -256,
        384
      ],
      "id": "a805122a-a422-4b66-980f-4f067f7e4013",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -256,
        176
      ],
      "id": "685ec141-d626-4aa7-8c83-bf43f5df5641",
      "name": "Telegram Trigger",
      "webhookId": "817f3862-d7b0-42f0-9a67-3db7ac342343",
      "credentials": {
        "telegramApi": {
          "id": "wtAxTMcdhKfdzvYb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        400
      ],
      "id": "e5952a3e-c859-4d59-baf5-7bad463c1176",
      "name": "Send a photo message",
      "webhookId": "90667814-e8fd-4b69-b362-26482c442065",
      "credentials": {
        "telegramApi": {
          "id": "wtAxTMcdhKfdzvYb",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "list_influencer_images": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "product_image_to_base64": {
      "main": [
        [
          {
            "node": "list_influencer_images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "influencer_image_to_base_64": {
      "main": [
        [
          {
            "node": "generate_image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate_image": {
      "main": [
        [
          {
            "node": "set_result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_image": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_result": {
      "main": [
        [
          {
            "node": "get_image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "influencer_image_to_base_64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "product_image_to_base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a photo message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ae3b6503-9f72-4954-82df-e95be4ba02f1",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-12-05T16:53:34.329Z",
      "updatedAt": "2025-12-05T16:53:34.329Z",
      "role": "workflow:owner",
      "workflowId": "UyeAGUJDDSMkY6V0",
      "projectId": "nnULjHyqOVknXpmc"
    }
  ],
  "tags": [
    {
      "createdAt": "2025-12-06T07:09:17.023Z",
      "updatedAt": "2025-12-06T07:09:17.023Z",
      "id": "QC5eL0K6e7LBx6VU",
      "name": "Road to first 1lakh"
    }
  ]
}