Backup_2025-11-07_140048/ak check.json
{
  "createdAt": "2025-11-07T04:31:47.946Z",
  "updatedAt": "2025-11-07T05:26:01.000Z",
  "id": "P6dId9i4oFtPchwX",
  "name": "ak check",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "121Hb6s3kN4lTWqDBH2Elwr98DivFa_ETqJLkKwYGAtk",
          "mode": "list",
          "cachedResultName": "Test Data Source",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/121Hb6s3kN4lTWqDBH2Elwr98DivFa_ETqJLkKwYGAtk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/121Hb6s3kN4lTWqDBH2Elwr98DivFa_ETqJLkKwYGAtk/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9e18db0e-abbc-4500-93c8-630b4ceb44f7",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "uHdaH2QDMcY8ICJf",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1633b0b5-87dc-4b1c-874b-11cc87ae96b3",
              "leftValue": "={{ $json.Name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "19c37e2b-4a93-4686-b621-e495cda8d4eb",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "fa7e1259-aadd-4923-9596-02cef812aeaf",
              "leftValue": "={{ $json['transaction Id'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "3db724e2-9728-4e6d-b9c2-a36ad3cf1eac",
      "name": "If"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09B18Z2NQY",
          "mode": "list",
          "cachedResultName": "all-cognigenai"
        },
        "text": "Input data is invalid, please check it",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        416,
        96
      ],
      "id": "33eaa655-23b0-4300-a5e6-22f1e8dd90b8",
      "name": "Send a message",
      "webhookId": "ee46648c-c068-49df-9cd0-4fa1cb6eeb21",
      "credentials": {
        "slackApi": {
          "id": "Ks9mI1D2tUwqdx44",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09B18Z2NQY",
          "mode": "list",
          "cachedResultName": "all-cognigenai"
        },
        "message": "can you please review this",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Status",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Approve"
                  },
                  {
                    "option": "Reject"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        416,
        -96
      ],
      "id": "d238a832-5249-4e4b-98cc-18ea43cb996c",
      "name": "Send message and wait for response",
      "webhookId": "89b9459c-60eb-458e-947f-4ab357af114a",
      "credentials": {
        "slackApi": {
          "id": "Ks9mI1D2tUwqdx44",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f7ea0936-068f-4e7a-b14a-4182f6ac07d6",
              "leftValue": "={{ $json.data.Status }}",
              "rightValue": "Approved",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        624,
        -96
      ],
      "id": "fab50e4e-e5bc-4c25-b0d9-e7351d08f695",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "121Hb6s3kN4lTWqDBH2Elwr98DivFa_ETqJLkKwYGAtk",
          "mode": "list",
          "cachedResultName": "Test Data Source",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/121Hb6s3kN4lTWqDBH2Elwr98DivFa_ETqJLkKwYGAtk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1524249259,
          "mode": "list",
          "cachedResultName": "Log Success/Failure",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/121Hb6s3kN4lTWqDBH2Elwr98DivFa_ETqJLkKwYGAtk/edit#gid=1524249259"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "Message is rejected"
          },
          "matchingColumns": [
            "message"
          ],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        0
      ],
      "id": "54939455-0396-44c5-9767-2807fd3d722c",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZG1MR4HwHasbUvb4",
          "name": "Cognigenai Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09B18Z2NQY",
          "mode": "list",
          "cachedResultName": "all-cognigenai"
        },
        "text": "={{ $json.message }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1040,
        0
      ],
      "id": "8b89705b-16d1-4aff-879c-dfdc7a0b0d26",
      "name": "Notify for rejection",
      "webhookId": "2277bff4-fd83-444b-9cb3-945985af32ac",
      "credentials": {
        "slackApi": {
          "id": "Ks9mI1D2tUwqdx44",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Notify for rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "77822ee0-1a0a-4fa8-9665-ec326416d624",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-11-07T04:31:47.954Z",
      "updatedAt": "2025-11-07T04:31:47.954Z",
      "role": "workflow:owner",
      "workflowId": "P6dId9i4oFtPchwX",
      "projectId": "nnULjHyqOVknXpmc"
    }
  ],
  "tags": []
}