Backup_2025-10-21_140048/My workflow 9.json
{
  "createdAt": "2025-09-29T05:38:24.156Z",
  "updatedAt": "2025-09-29T07:44:25.000Z",
  "id": "d0wLiVaSap2vytze",
  "name": "My workflow 9",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1EyqhQ9WEeuq0shMHDUZdpWMx32Ns7ioLkSqT2ecYf60",
          "mode": "list",
          "cachedResultName": "Keyword  Content Generator",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EyqhQ9WEeuq0shMHDUZdpWMx32Ns7ioLkSqT2ecYf60/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EyqhQ9WEeuq0shMHDUZdpWMx32Ns7ioLkSqT2ecYf60/edit#gid=0"
        },
        "options": {}
      },
      "id": "36030d49-ba87-4264-8d8b-2e4b0c9b7929",
      "name": "Read Keywords from Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -1696,
        192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "7c41f959a151d6c5f4ddab119389b780b0224573"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.Keyword }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 21
            }
          },
          "response": {}
        }
      },
      "id": "8175c0f9-f7ec-4cf6-8127-c932fc7a616c",
      "name": "SERP Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1040,
        208
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "Je bent een expert content analist die onderzoeksdata analyseert voor het schrijven van Nederlandse SEO-artikelen. Analyseer de onderzoeksdata en geef een samenvatting van belangrijke trends, inzichten en statistieken.",
              "role": "model"
            },
            {
              "content": "=Analyseer deze onderzoeksdata voor het keyword \"{{ $('Loop Over Items').item.json.Keyword }}\":\n\nSERP Data: {{ JSON.stringify($('SERP Research').item.json.organic_results || [], null, 2) }}\n\nNews Data: {{ $json.news }}\nGeef een gestructureerde samenvatting met:\n1. Belangrijkste trends en inzichten\n2. Relevante statistieken en feiten\n3. Recente ontwikkelingen\n4. Aanbevelingen voor inhoud focus"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -768,
        192
      ],
      "id": "145d130d-e323-4940-9329-8a21ed697edc",
      "name": "Analyze Research Data",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "Je bent een ervaren Nederlandse SEO copywriter die hoogwaardige, geoptimaliseerde artikelen schrijft. Jouw artikelen zijn boeiend, informatief en ranking hoog in Google.",
              "role": "model"
            },
            {
              "content": "=Schrijf een SEO-geoptimaliseerd artikel in het Nederlands voor het keyword: \"{{ $('Loop Over Items').item.json.Keyword }}\"\nArtikel specificaties:\n- Doelgroep: {{ $('Loop Over Items').item.json.target_audience }}\n- Gewenste woordenaantal:{{ $('Loop Over Items').item.json.word_count }}\n- Toon: {{ $('Loop Over Items').item.json.tone }}\n- Brand voice: {{ $('Loop Over Items').item.json.brand_voice }}\nOnderzoeksdata voor context:\n\"\"{{ $json.content.parts[0].text }}\nHet artikel moet:\n1. Een pakkende titel hebben met het hoofdkeyword\n2. Een duidelijke inleiding met hook\n3. Gestructureerde content met H2 en H3 headers\n4. Natuurlijke keyword integratie\n5. Praktische tips en inzichten\n6. Een sterke conclusie met call-to-action\n7. SEO-geoptimaliseerd zijn voor Nederlandse zoekopdrachten\nSchrijf het artikel nu:"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -432,
        176
      ],
      "id": "56437fff-ef45-423b-9c9f-b9513a5afb52",
      "name": "Write SEO Article1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "Je bent een expert content quality assessor die artikelen beoordeelt op kwaliteit, SEO en leesbaarheid en **alleen** JSON-objecten als antwoord geeft, zonder extra tekst of toelichtingen.",
              "role": "model"
            },
            {
              "content": "=Beoordeel de kwaliteit van dit Nederlandse artikel: {{ $json.content.parts[0].text }}\n\nGeef een objectieve beoordeling en feedback in een JSON-object met de volgende sleutels:\n\noverall_score (numerieke score tussen 1-10)\nseo_score (numerieke score tussen 1-10)\nreadability_score (numerieke score tussen 1-10)\ncontent_quality (numerieke score tussen 1-10)\npractical_value (numerieke score tussen 1-10)\ngeneral_structure (numerieke score tussen 1-10)\nfeedback (gedetailleerde feedback en verbeterpunten)"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -144,
        176
      ],
      "id": "d404a916-8bd2-4f74-b49c-3507646cf17e",
      "name": "Content Quality Check"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "Je bent een expert Nederlandse content editor die artikelen verbetert op basis van feedback om ze van hogere kwaliteit te maken.\n\n",
              "role": "model"
            },
            {
              "content": "=Verbeter dit artikel op basis van de feedback:\nOrigineel artikel:\n{{ $('Write SEO Article').item.json.choices[0].message.content }}\nFeedback:\n{{ $('Content Quality Check').item.json.choices[0].message.content }}\nCreëer een verbeterde versie die:\n1. De feedback addresseert\n2. Beter SEO-geoptimaliseerd is\n3. Meer waarde biedt aan de lezer\n4. Professioneler en boeiender geschreven is\nBehoud het keyword: {{ $('Filter Pending Keywords').item.json.keyword }}\nBestemd voor: {{ $('Filter Pending Keywords').item.json.target_audience }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        576,
        256
      ],
      "id": "cecbdeec-036e-4994-9344-486607911c41",
      "name": "Revise Article"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1EyqhQ9WEeuq0shMHDUZdpWMx32Ns7ioLkSqT2ecYf60",
          "mode": "list",
          "cachedResultName": "Keyword  Content Generator",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EyqhQ9WEeuq0shMHDUZdpWMx32Ns7ioLkSqT2ecYf60/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EyqhQ9WEeuq0shMHDUZdpWMx32Ns7ioLkSqT2ecYf60/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Loop Over Items').item.json.row_number }}",
            "Content Designed ": "Yes",
            "quality_score": "={{ $('EXTRACT SCORE').item.json.overall_score }}",
            "article link": "={{ $json.url }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Keyword",
              "displayName": "Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Content Designed ",
              "displayName": "Content Designed ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "target_audience",
              "displayName": "target_audience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "word_count",
              "displayName": "word_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tone",
              "displayName": "tone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "brand_voice",
              "displayName": "brand_voice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "quality_score",
              "displayName": "quality_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "plagiarism_result",
              "displayName": "plagiarism_result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "article link",
              "displayName": "article link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1456,
        288
      ],
      "id": "1ab20d78-fbc2-4bc1-9a06-c71b1cb82c53",
      "name": "Update row in sheet"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.gowinston.ai/v2/plagiarism",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={   \"text\": \"{{ $json.content.parts[0].text }}\" }"
            }
          ]
        },
        "options": {}
      },
      "id": "b55cf9e2-d398-4a91-b94b-198420ccea78",
      "name": "Plagiarism Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1872,
        192
      ],
      "id": "e26e239d-e606-438e-bc26-0d94f3adb9e9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Extract first line from document_content\nconst content = $json.document_content || '';\nconst title = content.split('\\n')[0].replace(/^#+\\s*/, '');\n\n// Return it as a field so next nodes can access it\nreturn [\n  {\n    json: {\n      ...$json,\n      title_from_content: title\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        144
      ],
      "id": "88eafd3a-2a81-4f3c-980e-302553e5771f",
      "name": "TITLE EXTRACTOR"
    },
    {
      "parameters": {
        "method": "POST",
        "url": " https://md2doc.n8n.aemalsayer.com",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "fileName",
              "value": "={{ $json.title_from_content }}_{{ $('Loop Over Items').item.json.Keyword }}"
            },
            {
              "name": "output",
              "value": "={{$json.document_content}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        144
      ],
      "id": "46ef6f4c-cac9-4e74-a5e9-f47578eb6553",
      "name": "DOC CREATOR"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "quality-threshold",
              "leftValue": "={{ $json.overall_score }}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "cd4fadc0-e7ba-4995-8e86-138a3cca5814",
      "name": "Quality CHECK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        368,
        160
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1EyqhQ9WEeuq0shMHDUZdpWMx32Ns7ioLkSqT2ecYf60",
          "mode": "list",
          "cachedResultName": "Keyword  Content Generator",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EyqhQ9WEeuq0shMHDUZdpWMx32Ns7ioLkSqT2ecYf60/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2141568874,
          "mode": "list",
          "cachedResultName": "Error",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EyqhQ9WEeuq0shMHDUZdpWMx32Ns7ioLkSqT2ecYf60/edit#gid=2141568874"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Loop Over Items').item.json.row_number }}",
            "keyword": "={{ $('Loop Over Items').item.json.Keyword }}",
            "Error Message ": "={{ $json.error.message }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "keyword",
              "displayName": "keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Error Message ",
              "displayName": "Error Message ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Error Name",
              "displayName": "Error Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Error Code",
              "displayName": "Error Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -832,
        368
      ],
      "id": "96b7f3be-2923-4554-a4e7-eb7fdc3612f7",
      "name": "FLAG ERROR1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1EyqhQ9WEeuq0shMHDUZdpWMx32Ns7ioLkSqT2ecYf60",
          "mode": "list",
          "cachedResultName": "Keyword  Content Generator",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EyqhQ9WEeuq0shMHDUZdpWMx32Ns7ioLkSqT2ecYf60/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2141568874,
          "mode": "list",
          "cachedResultName": "Error",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EyqhQ9WEeuq0shMHDUZdpWMx32Ns7ioLkSqT2ecYf60/edit#gid=2141568874"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Loop Over Items').item.json.row_number }}",
            "keyword": "={{ $('Loop Over Items').item.json.Keyword }}",
            "Error Message ": "={{ $json.error }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "keyword",
              "displayName": "keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Error Message ",
              "displayName": "Error Message ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Error Name",
              "displayName": "Error Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Error Code",
              "displayName": "Error Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -464,
        368
      ],
      "id": "5af54e42-4d62-450a-b552-4a0cd1addbba",
      "name": "FLAG ERROR2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "document_title",
              "name": "document_TITLE",
              "value": "={{ $('Loop Over Items').item.json.Keyword }}",
              "type": "string"
            },
            {
              "id": "document_content",
              "name": "document_content",
              "value": "={{ $('Revise Article').isExecuted ? $('Revise Article').item.json.content.parts[0].text : $('Write SEO Article1').item.json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "39e502b8-46c6-4d36-b950-f6202b3b3496",
      "name": "FIELDS EXTRACTOR",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        896,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get the text that contains the JSON\nconst raw = $json[\"content\"][\"parts\"][0][\"text\"];\n\n// Extract the JSON part between ```json and ```\nconst match = raw.match(/```json\\s*([\\s\\S]*?)\\s*```/);\n\nif (!match) {\n  return [{ error: \"JSON block not found\" }];\n}\n\n// Parse the JSON text\nconst parsed = JSON.parse(match[1]);\n\n// Return only the overall_score\nreturn [{\n  overall_score: parsed.overall_score\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        176
      ],
      "id": "333023e1-e887-48dc-a14a-04027dbe9050",
      "name": "EXTRACT SCORE",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1EyqhQ9WEeuq0shMHDUZdpWMx32Ns7ioLkSqT2ecYf60",
          "mode": "list",
          "cachedResultName": "Keyword  Content Generator",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EyqhQ9WEeuq0shMHDUZdpWMx32Ns7ioLkSqT2ecYf60/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2141568874,
          "mode": "list",
          "cachedResultName": "Error",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EyqhQ9WEeuq0shMHDUZdpWMx32Ns7ioLkSqT2ecYf60/edit#gid=2141568874"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Loop Over Items').item.json.row_number }}",
            "keyword": "={{ $('Loop Over Items').item.json.Keyword }}",
            "Error Message ": "={{ $json.error }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "keyword",
              "displayName": "keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message ",
              "displayName": "Error Message ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        320,
        352
      ],
      "id": "05390654-745b-4fcd-8bf3-812fc437d6b7",
      "name": "Update row in sheet1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1680,
        368
      ],
      "id": "ea76b8c8-573a-4cf1-94cb-883559e597bc",
      "name": "Wait",
      "webhookId": "5b75839e-9e63-44f4-b8d7-0cdecb44d095"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7b46299d-6178-4bba-9cf2-82bd4398602d",
              "leftValue": "={{ $json[\"Content Designed \"] }}",
              "rightValue": "No",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1504,
        192
      ],
      "id": "d8b0b81c-bb91-485e-9660-a2f23d13eef0",
      "name": "Filter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1312,
        192
      ],
      "id": "f3092ee9-2547-4d83-9fe5-4ca70a10d8cb",
      "name": "Loop Over Items",
      "executeOnce": false
    }
  ],
  "connections": {
    "Read Keywords from Google Sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SERP Research": {
      "main": [
        [
          {
            "node": "Analyze Research Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FLAG ERROR1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Research Data": {
      "main": [
        [
          {
            "node": "Write SEO Article1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FLAG ERROR2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write SEO Article1": {
      "main": [
        [
          {
            "node": "Content Quality Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Quality Check": {
      "main": [
        [
          {
            "node": "EXTRACT SCORE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revise Article": {
      "main": [
        [
          {
            "node": "FIELDS EXTRACTOR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Keywords from Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TITLE EXTRACTOR": {
      "main": [
        [
          {
            "node": "DOC CREATOR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DOC CREATOR": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality CHECK": {
      "main": [
        [
          {
            "node": "FIELDS EXTRACTOR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Revise Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FIELDS EXTRACTOR": {
      "main": [
        [
          {
            "node": "TITLE EXTRACTOR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXTRACT SCORE": {
      "main": [
        [
          {
            "node": "Quality CHECK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "SERP Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "e193f6a7-6d97-4207-9f6b-f0a4b4427805",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-29T05:38:24.159Z",
      "updatedAt": "2025-09-29T05:38:24.159Z",
      "role": "workflow:owner",
      "workflowId": "d0wLiVaSap2vytze",
      "projectId": "nnULjHyqOVknXpmc"
    }
  ],
  "tags": []
}