Backup_2025-10-13_140048/Aisha Clinic Voice agent.json
{
  "createdAt": "2025-09-17T09:10:31.963Z",
  "updatedAt": "2025-09-17T09:10:45.000Z",
  "id": "bfER6GjFmLr7CYKr",
  "name": "Aisha Clinic Voice agent",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Input\nUser Name - {{ $json.body.context_details.recipient_data.name }}\nPreferred Time - {{ $json.body.extracted_data.preferred_time }}\nEmail ID - {{ $json.body.context_details.recipient_data.email_id }}\nSummary - {{ $json.body.summary }}\nCurrent time - {{ $now }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a calendar assistant. Your responsibilities include creating, getting, and deleting events in the user’s calendar.\n\n## Calendar Management Tools:\nUse “Create Event” when an event includes a participant.\n\n## Rules\n- Turn the incoming query into an action. Ignore clarification questions, just take action based on the intent you receive.\n- Set Proper Title for Meeting\n\n## Final Notes\nHere is the current date/time: {{ $now }}\nIf a duration for an event isn’t specified, assume it will be one hour."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        304,
        288
      ],
      "id": "77cc3f93-3c91-49a2-b724-998b565e3753",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "sinisyssoft@gmail.com",
          "mode": "list",
          "cachedResultName": "sinisyssoft@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [
            "ak04check@gmail.com"
          ],
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        368,
        528
      ],
      "id": "3b92a157-e582-4de8-b0c5-b000f2231ce7",
      "name": "Create Event"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1NfFAB1P69l9ZBvwvgCoJ_ZFrPPo3apc646_h-XNGKvg",
          "mode": "list",
          "cachedResultName": "Angel Clinic Dental Appointment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NfFAB1P69l9ZBvwvgCoJ_ZFrPPo3apc646_h-XNGKvg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NfFAB1P69l9ZBvwvgCoJ_ZFrPPo3apc646_h-XNGKvg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Get Bola AI data').item.json.body.context_details.recipient_data.name }}",
            "Concern": "={{ $('Get Bola AI data').item.json.body.extracted_data.concern }}",
            "Preferred Time": "={{ $('Get Bola AI data').item.json.body.extracted_data.preferred_time }}",
            "Email ID": "={{ $('Get Bola AI data').item.json.body.context_details.recipient_data.email_id }}",
            "Location": "={{ $('Get Bola AI data').item.json.body.extracted_data.location }}",
            "Phone Number": "={{ $('Get Bola AI data').item.json.body.context_details.recipient_phone_number }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email ID",
              "displayName": "Email ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Concern",
              "displayName": "Concern",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Preferred Time",
              "displayName": "Preferred Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        688,
        288
      ],
      "id": "added813-95e2-47ff-9d73-bdc0c252e0d2",
      "name": "Update the Entry"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ad7b26c0-33fb-4968-bc2c-63068d0a4600",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "199f74d0-12a3-43e2-8ae0-327d38782eed",
      "name": "Landing Page Call",
      "webhookId": "ad7b26c0-33fb-4968-bc2c-63068d0a4600"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        192,
        496
      ],
      "id": "1ca7e570-cd28-43fb-b96f-15e68082a30a",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "837d4798-2a04-4717-85d7-796ece982142",
              "leftValue": "={{ $json.body.status }}",
              "rightValue": "call-disconnected",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        16,
        304
      ],
      "id": "e04d0cf0-b022-4227-b7db-b8df225c4e80",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -128,
        528
      ],
      "id": "a9dbb984-cc2a-4b4d-8046-97e220f2fc27",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.bolna.ai/call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent_id\": \"4408555b-1cae-4058-946d-de15459836e3\",\n  \"recipient_phone_number\": \"+91{{ $json.body.phone }}\",\n  \"from_phone_number\": \"+918035316995\",\n  \"user_data\": {\n    \"name\": \"{{ $json.body.name }}\",\n    \"email_id\": \"{{ $json.body.email }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        0
      ],
      "id": "69f34ecb-5800-4938-a409-53186a5a6392",
      "name": "bolna AI Agent"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ee4111fc-0b05-447a-a6b3-0b8b1c0e19c2",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -224,
        304
      ],
      "id": "078d8c4a-ef62-4e80-abee-ce1fa9d6ab0a",
      "name": "Get Bola AI data",
      "webhookId": "ee4111fc-0b05-447a-a6b3-0b8b1c0e19c2"
    }
  ],
  "connections": {
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update the Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Landing Page Call": {
      "main": [
        [
          {
            "node": "bolna AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Bola AI data": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Get Bola AI data": [
      {
        "json": {
          "headers": {
            "host": "voiptrainers.n8n-wsk.com",
            "user-agent": "Python/3.10 aiohttp/3.9.1",
            "content-length": "4434",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br",
            "baggage": "sentry-trace_id=94973237c399468fb5ebac92139c66d6,sentry-environment=prod-ws,sentry-release=1a9b534dc2d27a9ca4ca670dd36eb3184146e070,sentry-public_key=55e9f3e298bd3a1d6e0ec4e737f88049,sentry-sample_rate=1.0,sentry-sampled=true",
            "content-type": "application/json",
            "sentry-trace": "94973237c399468fb5ebac92139c66d6-96b27ce67b13506b-1",
            "via": "1.1 Caddy",
            "x-forwarded-for": "10.0.0.2",
            "x-forwarded-host": "voiptrainers.n8n-wsk.com",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "722b6d37-aa12-4366-af81-71f5022ec7a2",
            "agent_id": "4408555b-1cae-4058-946d-de15459836e3",
            "batch_id": null,
            "created_at": "2025-09-17T07:26:21.534443",
            "updated_at": "2025-09-17T07:28:12.930918",
            "scheduled_at": "2025-09-17T07:26:21.534417",
            "answered_by_voice_mail": null,
            "conversation_duration": 99.6,
            "total_cost": 10.53,
            "transcript": "assistant: Hi anurag, this is Aisha calling from Angel Clinic. You’d submitted a form for a consultation—just reaching out to help schedule that. Is now a good time to talk\nuser:  yes\nassistant:  Great. Just to confirm—we have your name as anurag, and you were interested in seeing a doctor at Angel Clinic, right?\nuser:  yes\nassistant:  Thank you, anurag. Can I ask where you’re located or the area you’d be coming from? This just helps us suggest the most convenient clinic slot.\nuser:  i'm in chennai\nassistant: Got it, Chennai. And what kind of health issue are you visiting us for? For example, a check- up\nuser:  i'm looking for a dental appointment\nassistant:  Thanks for letting me know, anurag. When would you be able to visit the clinic? Please mention a day and time that works best for you—like ‘Monday at 4 PM’ or ‘Saturday morning around 11’.\nuser:  tomorrow three pm\nassistant:  Alright, anurag. To summarize, you’re in Chennai, looking for a dental appointment, and prefer to come tomorrow at 3 PM. I’ll go ahead and schedule that for you now. \n\nThanks so much, anurag. We’ve scheduled your appointment—you’ll get a confirmation message shortly. Looking forward to seeing you at Angel Clinic. Take care!\nuser:  thank you\n",
            "usage_breakdown": {
              "llmModel": {
                "gpt-4o-mini": {
                  "input": 614,
                  "output": 130
                },
                "azure/gpt-4.1-mini": {
                  "input": 6356,
                  "output": 220
                }
              },
              "llmTokens": 0,
              "synthesizer_model": "eleven_turbo_v2_5",
              "transcriber_model": "nova-2",
              "llm_usage_breakdown": {
                "hangup": null,
                "analytics": null,
                "extraction": {
                  "input": 307,
                  "model": "gpt-4o-mini",
                  "output": 48,
                  "provider": "azure",
                  "provider_connected": false
                },
                "conversation": {
                  "input": 6356,
                  "model": "azure/gpt-4.1-mini",
                  "output": 220,
                  "provider": "azure",
                  "provider_connected": false
                },
                "summarization": {
                  "input": 307,
                  "model": "gpt-4o-mini",
                  "output": 82,
                  "provider": "azure",
                  "provider_connected": false
                }
              },
              "synthesizer_provider": "elevenlabs",
              "transcriber_duration": 99.99994,
              "transcriber_provider": "deepgram",
              "synthesizer_characters": 1083,
              "synthesizer_usage_breakdown": {
                "provider_connected": false,
                "welcome_message_cache": false,
                "conversation_characters": 0,
                "welcome_message_characters": 161
              },
              "transcriber_usage_breakdown": {
                "provider_connected": false,
                "transcriber_duration": 99.99994
              }
            },
            "cost_breakdown": {
              "llm": 0.307,
              "network": 0,
              "platform": 0,
              "synthesizer": 9.22,
              "transcriber": 1,
              "llm_breakdown": {
                "hangup": 0,
                "analytics": 0,
                "extraction": 0.008,
                "conversation": 0.289,
                "summarization": 0.01
              },
              "synthesizer_breakdown": {
                "conversation": 9.22,
                "welcome_message": 0
              },
              "transcriber_breakdown": {
                "analytics": 0,
                "conversation": 1
              }
            },
            "extracted_data": {
              "name": "anurag",
              "concern": "dental appointment",
              "email_id": null,
              "location": "chennai",
              "phone_number": null,
              "preferred_time": "tomorrow at 3 PM"
            },
            "summary": "Aisha from Angel Clinic called Anurag to help schedule a consultation after he submitted a form. Anurag confirmed his name and that he was looking for a dental appointment. He mentioned he is located in Chennai and requested an appointment for tomorrow at 3 PM. Aisha confirmed the appointment and informed Anurag that he would receive a confirmation message shortly. Anurag thanked her for the assistance.",
            "error_message": null,
            "status": "call-disconnected",
            "agent_extraction": null,
            "workflow_retries": null,
            "rescheduled_at": null,
            "custom_extractions": null,
            "campaign_id": null,
            "smart_status": null,
            "arq_job_id": null,
            "telephony_data": {
              "duration": "0.0",
              "to_number": "+918588875203",
              "from_number": "+918035316995",
              "recording_url": "",
              "hosted_telephony": true,
              "provider_call_id": "d446effb-d462-476b-9710-67976011a480",
              "call_type": "outbound",
              "provider": "plivo",
              "hangup_by": null,
              "hangup_reason": null,
              "hangup_provider_code": null
            },
            "transfer_call_data": null,
            "context_details": {
              "recipient_data": {
                "name": "anurag",
                "email_id": "ak02check@gmail.com"
              },
              "recipient_phone_number": "+918588875203"
            },
            "batch_run_details": null,
            "provider": "plivo"
          },
          "webhookUrl": "https://voiptrainers.n8n-wsk.com/webhook-test/ee4111fc-0b05-447a-a6b3-0b8b1c0e19c2",
          "executionMode": "test"
        }
      }
    ]
  },
  "versionId": "e29bce47-67df-45ee-933f-e4ab54b3a9d7",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-17T09:10:31.987Z",
      "updatedAt": "2025-09-17T09:10:31.987Z",
      "role": "workflow:owner",
      "workflowId": "bfER6GjFmLr7CYKr",
      "projectId": "nnULjHyqOVknXpmc"
    }
  ],
  "tags": []
}