Backup_2025-10-20_140048/My workflow 17.json
{
  "createdAt": "2025-09-30T15:26:49.103Z",
  "updatedAt": "2025-10-04T03:24:38.000Z",
  "id": "bSNWY0qvcWpmESLZ",
  "name": "My workflow 17",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        -16
      ],
      "id": "4daa18c4-ca0d-44d1-9f20-2cf5de3c505c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1C9G3lFSScjY4LZ4dlnY8d0ekIxFYhE8jsYxAF2ASEtk",
          "mode": "list",
          "cachedResultName": "Lead List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C9G3lFSScjY4LZ4dlnY8d0ekIxFYhE8jsYxAF2ASEtk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Accounts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C9G3lFSScjY4LZ4dlnY8d0ekIxFYhE8jsYxAF2ASEtk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -96,
        -16
      ],
      "id": "fc9088cc-6dc9-4271-8761-a7e0a993c1bb",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZG1MR4HwHasbUvb4",
          "name": "Cognigenai Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.crustdata.com/screener/identify/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Token 9e49d4d3e6d614b14d838e566795388231127fcd"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"query_company_name\": \"{{ $json['Account Name'] }}\", \"count\": 1}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        -16
      ],
      "id": "dd589929-648d-4efd-bbc3-94e6943fb934",
      "name": "Identify Company"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Identify Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "7438bde6-5ac5-467b-b152-9d343215b98b",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-30T15:26:49.105Z",
      "updatedAt": "2025-09-30T15:26:49.105Z",
      "role": "workflow:owner",
      "workflowId": "bSNWY0qvcWpmESLZ",
      "projectId": "nnULjHyqOVknXpmc"
    }
  ],
  "tags": []
}