Backup_2025-10-07_221200/n8n_daily_backup.json
{
  "createdAt": "2025-09-13T04:00:50.705Z",
  "updatedAt": "2025-10-07T16:37:46.115Z",
  "id": "41VUs3PZBTTEorZn",
  "name": "n8n_daily_backup",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "808ae275-b318-4330-83b0-3d8371c9f5c4",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.cron",
      "position": [
        -1056,
        256
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {}
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "583b921a-c10d-46ff-8390-16d416685348",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "position": [
        -832,
        256
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "400c349a-6694-4ebc-8cc8-4b36b30cdd05",
              "name": "folderName",
              "type": "string",
              "value": "=Backup_{{ $now.format('yyyy-MM-dd_HHmmss') }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "1317025d-622d-4552-8b30-13e7935a4f7c",
      "name": "Split Workflows",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -320,
        256
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 3
    },
    {
      "id": "536fb077-d4dc-40ba-8714-7430982fcb96",
      "name": "Prepare File Content",
      "type": "n8n-nodes-base.set",
      "position": [
        0,
        256
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "workflow-content",
              "name": "nodes",
              "type": "string",
              "value": "={{ JSON.stringify($json, null, 2) }}"
            },
            {
              "id": "workflow-filename",
              "name": "fileName",
              "type": "string",
              "value": "={{ $json.name }}.json"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "772d3fa5-6dc5-4b2c-8a78-9aeef1d7bc9c",
      "name": "Upload to GitHub",
      "type": "n8n-nodes-base.github",
      "onError": "continueErrorOutput",
      "position": [
        448,
        336
      ],
      "webhookId": "20f36eee-6bfe-4264-9490-d76d5c1ef46d",
      "parameters": {
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "anuragchauhan1989"
        },
        "filePath": "={{ $('Set Variables').item.json.folderName }}/{{ $('Prepare File Content').item.json.fileName }}",
        "resource": "file",
        "binaryData": true,
        "repository": {
          "__rl": true,
          "mode": "list",
          "value": "n8n-backup",
          "cachedResultUrl": "https://github.com/lakshit77/n8n-backup",
          "cachedResultName": "n8n-backup"
        },
        "commitMessage": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd T') }} Backup completed"
      },
      "credentials": {
        "githubApi": {
          "id": "HeoHxPmfYVZzo8fy",
          "name": "GitHub account"
        }
      },
      "notesInFlow": true,
      "typeVersion": 1,
      "alwaysOutputData": false
    },
    {
      "id": "b82c670e-5d3e-4c7d-b548-6d3d4749e191",
      "name": "Create README",
      "type": "n8n-nodes-base.github",
      "position": [
        0,
        0
      ],
      "webhookId": "5f0a2d4b-f990-480e-8bf7-1aea62f5fc7c",
      "parameters": {
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "=anuragchauhan1989"
        },
        "filePath": "={{ $('Set Variables').item.json.folderName }}/README.md",
        "resource": "file",
        "repository": {
          "__rl": true,
          "mode": "list",
          "value": "n8n-backup",
          "cachedResultUrl": "https://github.com/anuragchauhan1989/n8n-backup",
          "cachedResultName": "n8n-backup"
        },
        "fileContent": "=# N8N Workflow Backup - {{ $('Set Variables').item.json.folderName }}\n\nThis folder contains the backup of all N8N workflows as of {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd') }}\n\n## Backup Details\n- Backup Time: {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd T') }}\n- Total Workflows: {{ $('Get many workflows').all().length }}\n\n## Files\nEach workflow is saved as a separate JSON file with the format\n\n---\n*Automatically generated by N8N Backup Workflow*",
        "commitMessage": "={{$now.setZone('Asia/Kolkata').format('yyyy-MM-dd')}} Add README for backup folder"
      },
      "credentials": {
        "githubApi": {
          "id": "HeoHxPmfYVZzo8fy",
          "name": "GitHub account"
        }
      },
      "typeVersion": 1,
      "onError": "continueErrorOutput"
    },
    {
      "id": "d0a43111-c217-45b1-8ce2-0237964202fd",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        224,
        256
      ],
      "parameters": {
        "options": {
          "fileName": "={{ $json.fileName }}"
        },
        "operation": "toText",
        "sourceProperty": "nodes"
      },
      "typeVersion": 1.1
    },
    {
      "id": "cc3fa906-b48e-4245-88f4-350ed3d92697",
      "name": "Append row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        672,
        352
      ],
      "parameters": {
        "columns": {
          "value": {
            "DateTime": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd T') }}",
            "File Name": "={{ $('Prepare File Content').item.json.fileName }}",
            "Folder Name": "={{ $('Set Variables').item.json.folderName }}",
            "Error Message": "={{ $json.error }}"
          },
          "schema": [
            {
              "id": "DateTime",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "DateTime",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Folder Name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Folder Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "File Name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "File Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Error Message",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "append",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AWMJ4ehtfLqnuivgHWWhMlB-PefKMsp8xjXQGHiX1W0/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1AWMJ4ehtfLqnuivgHWWhMlB-PefKMsp8xjXQGHiX1W0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AWMJ4ehtfLqnuivgHWWhMlB-PefKMsp8xjXQGHiX1W0/edit?usp=drivesdk",
          "cachedResultName": "Daily back up n8n"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZG1MR4HwHasbUvb4",
          "name": "Cognigenai Google Sheets account"
        }
      },
      "typeVersion": 4.6
    },
    {
      "id": "b048dfd5-e320-43df-8711-6687edc587d8",
      "name": "Get many workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -624,
        256
      ],
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "credentials": {
        "n8nApi": {
          "id": "99P3trcN8rXN4o1J",
          "name": "n8n account"
        }
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Workflows": {
      "main": [
        [
          {
            "node": "Create README",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare File Content": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to GitHub": {
      "main": [
        [
          {
            "node": "Split Workflows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Split Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Split Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "9dbebc98-9be1-4101-aaf3-3791d2dd4af8",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-09-13T04:00:50.714Z",
      "updatedAt": "2025-09-13T04:00:50.714Z",
      "role": "workflow:owner",
      "workflowId": "41VUs3PZBTTEorZn",
      "projectId": "nnULjHyqOVknXpmc"
    }
  ],
  "tags": []
}