Backup_2025-11-02_140048/lead enrichment_ff.json
{
  "createdAt": "2025-10-02T11:36:09.685Z",
  "updatedAt": "2025-10-07T10:36:45.000Z",
  "id": "XfTs4ik6qcovxkn0",
  "name": "lead enrichment_ff",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b9a2828c-1d66-4436-b174-2d44e2fb8049"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1j49tYX_wcrbUAhtLHm__uAncWdZoY3T6beWTULEXddY",
          "mode": "list",
          "cachedResultName": "Company Insider",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1j49tYX_wcrbUAhtLHm__uAncWdZoY3T6beWTULEXddY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1j49tYX_wcrbUAhtLHm__uAncWdZoY3T6beWTULEXddY/edit#gid=0"
        },
        "options": {}
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        224,
        0
      ],
      "id": "6a865f9e-cb5f-4168-9f5f-297417653f01",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZG1MR4HwHasbUvb4",
          "name": "Cognigenai Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Data preparation\nconst items = $input.all();\n\nreturn items.map(item => {\n  const emailAddress = item.json[\"Email Address\"];\n  const domain = emailAddress.substring(emailAddress.indexOf('@') + 1);\n  \n  return {\n    json: {\n      first_name: item.json[\"First Name\"],\n      last_name: item.json[\"Last Name\"],\n      email_addresses: [{\n        email_address: emailAddress\n      }],\n      domain: domain\n    }\n  };\n});"
      },
      "name": "Data Prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "0cd605ba-5c04-454b-822e-e1813102937d"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please identify 2-3 key decision-makers from the company domain {{ $json.domain }} who match my ideal prospect criteria.\n\nEXCLUDE:\n- {{ $json.first_name }} {{ $json.last_name }} (already in our database)\n\nINCLUDE ONLY:\n- Director-level positions and above\n- C-suite executives (CEO, CRO, COO, CTO, CMO)\n- Department heads or VPs in Growth, Marketing, or Sales\n- Founders or Co-founders\n\nFor each person found, please provide:\n- Full name\n- Specific job title\n- LinkedIn profile URL (if available)\n- Email pattern prediction based on company domain structure\n\nIMPORTANT: Focus on finding the MOST SENIOR contacts in these departments, as they have decision-making authority.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a specialized B2B prospecting assistant with expertise in identifying high-value decision-makers at target companies.\n\nYour primary function is to identify senior-level contacts (Director and above) who:\n1. Have budget authority or significant influence on purchasing decisions\n2. Work specifically in Growth, Marketing, Sales departments or hold C-suite positions\n3. Match standard B2B ideal customer profiles for SaaS sales\n\nWhen using the People Search tool:\n- Always search for specific titles like \"VP of Marketing,\" \"Chief Revenue Officer,\" \"Director of Growth\"\n- Prioritize finding the MOST SENIOR person in each relevant department\n- Filter results to exclude non-decision makers and focus on people with purchasing authority\n- Ensure results are relevant to B2B SaaS sales contexts\n- Return only high-quality prospects who match executive or senior leadership criteria\n\nFormat your responses in a consistent, structured way that will be easy to process for email outreach and LinkedIn campaigns."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        640,
        0
      ],
      "id": "cb355922-754c-4fd3-abb8-41520fdf34a4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        464,
        240
      ],
      "id": "f73579f9-b56a-41bb-b369-c6e1d4366c9c",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "toolDescription": "You are a specialized B2B prospecting assistant with expertise in identifying high-value decision-makers at target companies.\n\nYour primary function is to identify senior-level contacts (Director and above) who:\n1. Have budget authority or significant influence on purchasing decisions\n2. Work specifically in Growth, Marketing, Sales departments or hold C-suite positions\n3. Match standard B2B ideal customer profiles for SaaS sales\n\nWhen using the People Search tool:\n- Always search for specific titles like \"VP of Marketing,\" \"Chief Revenue Officer,\" \"Director of Growth\"\n- Prioritize finding the MOST SENIOR person in each relevant department\n- Filter results to exclude non-decision makers and focus on people with purchasing authority\n- Ensure results are relevant to B2B SaaS sales contexts\n- Return only high-quality prospects who match executive or senior leadership criteria\n\nFormat your responses in a consistent, structured way that will be easy to process for email outreach and LinkedIn campaigns.",
        "method": "POST",
        "url": "ttps://api.apollo.io/api/v1/mixed_people/search",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "person_titles[]",
              "valueProvider": "fieldValue",
              "value": "{job_title}"
            },
            {
              "name": "q_organization_domains",
              "valueProvider": "fieldValue",
              "value": "{placeholder}"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Cache-Control",
              "valueProvider": "fieldValue",
              "value": "no-cache"
            },
            {
              "name": "accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "valueProvider": "fieldValue",
              "value": "qdAMpYJtTVmlxcafHs2dvw"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "{job_title}",
              "description": "Add a job title here for example Head of Growth",
              "type": "string"
            },
            {
              "name": "{placeholder}",
              "description": "=Add the domain of the company which you can get from their email {{ $json.email_addresses[0].email_address }}",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        688,
        272
      ],
      "id": "8a1eb5f6-d79d-4625-818d-98612133d4b9",
      "name": "People Search"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"people\": [\n    {\n      \"full name\": \"Manthan Patel\",\n      \"LinkedIn URL\": \"https://www.linkedin.com/in/manthanleadgenman/\",\n      \"job title\": \"CEO\",\n      \"email\": \"manthan@leadgenman.com\",\n      \"domain\": \"leadgenman.com\"\n    },\n    {\n      \"full name\": \"Suprava Sabat\",\n      \"LinkedIn URL\": \"https://www.linkedin.com/in/suprava-sabat-saasleadgen/\",\n      \"job title\": \"Co-founder\",\n      \"email\": \"suprava.s@acquisitionx.pro\",\n      \"domain\": \"acquisitionx.pro\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        960,
        240
      ],
      "id": "2aa6bfe1-77cc-4c64-bf75-ba34b49797a3",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "// This single node combines the functionality of Split Out1, Edit Fields1, and Code1 nodes\nconst items = $input.all();\n\n// Process each item from the input\nconst results = [];\n\n// First, check if we're getting output from AI with people structure\nitems.forEach(item => {\n  // Handle the Split Out1 functionality - extract people from output if it exists\n  const peopleArray = item.json?.output?.people || [item.json];\n  \n  // Process each person in the array\n  peopleArray.forEach(person => {\n    // Extract the fields we need (Edit Fields1 functionality)\n    const fullName = person['full name'] || '';\n    const linkedinUrl = person['LinkedIn URL'] || '';\n    const jobTitle = person['job title'] || '';\n    const domain = person.domain || '';\n    \n    // Split the full name (Code1 functionality)\n    const nameParts = fullName.split(' ');\n    const firstName = nameParts[0] || '';\n    const lastName = nameParts.length > 1 ? nameParts.slice(1).join(' ') : '';\n    \n    // Return complete processed record\n    results.push({\n      json: {\n        'full name': fullName,\n        'LinkedIn URL': linkedinUrl,\n        'job title': jobTitle,\n        domain: domain,\n        firstName: firstName,\n        lastName: lastName\n      }\n    });\n  });\n});\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        0
      ],
      "id": "6209b718-f3c2-479a-b8fb-d98364dd95fa",
      "name": "Process People Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.prospeo.io/email-finder",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-KEY",
              "value": "37b424c561b5ad730f521495476a9573"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "first_name",
              "value": "={{ $json.firstName }}"
            },
            {
              "name": "last_name",
              "value": "={{ $json.lastName }}"
            },
            {
              "name": "company",
              "value": "={{ $json.domain }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        0
      ],
      "id": "4f3d80b6-0fa0-4c91-9269-1c833a336e99",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6e43198c-f8c3-4896-9849-9ced513b5cd2",
              "name": "response.email",
              "value": "={{ $json.response.email }}",
              "type": "string"
            },
            {
              "id": "49199ade-d418-4db0-9927-107eef993e3d",
              "name": "response.first_name",
              "value": "={{ $json.response.first_name }}",
              "type": "string"
            },
            {
              "id": "944b1a1a-7038-49fa-b745-450e62d34f01",
              "name": "response.domain",
              "value": "={{ $json.response.domain }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1728,
        0
      ],
      "id": "8a89b169-579b-47c1-865d-443aed7778f6",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1312,
        0
      ],
      "id": "145372e4-ea34-4d81-abc2-3f5f809b1fd5",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1952,
        0
      ],
      "id": "ee3f5385-819b-4072-a308-4155d46bef21",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://server.smartlead.ai/api/v1/campaigns/12345/leads",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"lead_list\": [\n    {\n      \"first_name\": \"{{ $json.response.first_name }}\",\n      \"email\": \"{{ $json.response.email }}\",\n      \"website\": \"{{ $json.response.domain }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        0
      ],
      "id": "2235aea1-abc3-418d-92b2-425acc69231e",
      "name": "Cold Email Campaign"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heyreach.io/api/public/campaign/AddLeadsToCampaign",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "dwAWTd05budmOYB0eAL4bgaERFMvthdEaRqyIAao="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "text/plain"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"campaignId\": 115122,\n    \"accountLeadPairs\": [\n        {\n            \"linkedInAccountId\": 71043,\n            \"lead\": {\n                \"firstName\": \"{{ $json['first name'] }}\",\n                \"lastName\": \"{{ $json['last name'] }}\",\n                \"location\": \"{{ $json.country }}\",\n                \"summary\": \"{{ $json.title }} @ {{ $json['company name'] }}\",\n                \"companyName\": \"{{ $json['company name'] }}\",\n                \"position\": \"{{ $json.title }}\",\n                \"about\": \"{{ $json['company description'] }}\",\n                \"emailAddress\": \"{{ $json.Emails }}\",\n                \"profileUrl\": \"https://{{ $json['linkedin url'] }}\"\n            }\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2320,
        0
      ],
      "id": "d8243410-3e16-4325-9404-1e8b91f12552",
      "name": "Linkedin Campaign"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Data Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "People Search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Data Prep": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Process People Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Cold Email Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cold Email Campaign": {
      "main": [
        [
          {
            "node": "Linkedin Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin Campaign": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process People Data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "1c39c4ad-5a36-4a5b-95fb-29e3ee739685",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-02T11:36:09.703Z",
      "updatedAt": "2025-10-02T11:36:09.703Z",
      "role": "workflow:owner",
      "workflowId": "XfTs4ik6qcovxkn0",
      "projectId": "nnULjHyqOVknXpmc"
    }
  ],
  "tags": []
}