Backup_2025-12-02_140048/Single Channel Automation.json
{
  "createdAt": "2025-11-30T16:05:53.760Z",
  "updatedAt": "2025-12-01T17:50:30.000Z",
  "id": "xh8KEx4S2beEVDTS",
  "name": "Single Channel Automation",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1n2ACuMVVnoqL39Sxc-XswjBuZPSss5EIfctpmTNCdHg",
          "mode": "list",
          "cachedResultName": "Single Channel Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n2ACuMVVnoqL39Sxc-XswjBuZPSss5EIfctpmTNCdHg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n2ACuMVVnoqL39Sxc-XswjBuZPSss5EIfctpmTNCdHg/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "PENDING"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -992,
        224
      ],
      "id": "5234f2e2-6515-4178-88e8-d34380ee7cb7",
      "name": "Get Next Pending Row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MJLr4bfH53ymveir",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const row = $json;\n\nif (!row.prompt || !row.language || !row.target_duration_sec) {\n  return [\n    {\n      json: {\n        valid: false,\n        error: \"Invalid input\",\n        row_number: row.row_number\n      }\n    }\n  ];\n}\n\nreturn [\n  {\n    json: {\n      valid: true,\n      row_number: row.row_number\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        224
      ],
      "id": "505c652d-255e-4838-a02e-850f8be03254",
      "name": "Validate Input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6a273fcd-d948-4f8d-a494-ea92b49ad26e",
              "leftValue": "={{$json.valid}}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -672,
        224
      ],
      "id": "8b4955b6-ee26-409b-82c3-1154d5ca6319",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1n2ACuMVVnoqL39Sxc-XswjBuZPSss5EIfctpmTNCdHg",
          "mode": "list",
          "cachedResultName": "Single Channel Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n2ACuMVVnoqL39Sxc-XswjBuZPSss5EIfctpmTNCdHg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n2ACuMVVnoqL39Sxc-XswjBuZPSss5EIfctpmTNCdHg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "status": "ERROR"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "language",
              "displayName": "language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "target_duration_sec",
              "displayName": "target_duration_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -496,
        304
      ],
      "id": "cfb4160d-0c83-4885-8a20-91cb9e90820b",
      "name": "Log Error",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MJLr4bfH53ymveir",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Create a YouTube narration script.\n\nTopic: {{ $('Get Next Pending Row').item.json.prompt }}\nLanguage: {{ $('Get Next Pending Row').item.json.language }}\nTarget Duration (seconds): {{ $('Get Next Pending Row').item.json.target_duration_sec }}\n\nReturn JSON with:\n{\n  \"fullNarration\": \"<complete narration text>\",\n  \"segments\": [\n    {\n      \"title\": \"short title\",\n      \"visualPrompt\": \"what AI image model should generate\",\n      \"duration\": 5\n    }\n  ]\n}\n\nRules:\n- No commentary.\n- No markdown.\n- Duration per segment must sum close to target_duration_sec.\n- 3 to 5 segments maximum.\n- Narration must be smooth and engaging.\n- CRITICAL: The fullNarration text MUST be under 95 characters total (extremely concise). This is a hard limit.\n- Keep narration brief but impactful - like a short tagline or hook.\n"
            },
            {
              "content": "=You generate video narration scripts with clean JSON output. \nNo timestamps. No camera directions. No scene headers. \nReturn only valid JSON.\nIMPORTANT: Keep fullNarration under 95 characters - be extremely concise.",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -496,
        128
      ],
      "id": "15eb1f50-2467-4d0d-8881-c64a121ada93",
      "name": "Generate Script"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.message.content;\n\nlet data;\n\ntry {\n  data = JSON.parse(raw);\n} catch (e) {\n  return [\n    {\n      json: {\n        success: false,\n        error: \"Invalid JSON from LLM\",\n        details: e.message\n      }\n    }\n  ];\n}\n\nreturn [\n  {\n    json: {\n      success: true,\n      fullNarration: data.fullNarration,\n      segments: data.segments\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        128
      ],
      "id": "633496a8-ed52-4026-87b3-d8f9aaadb5f9",
      "name": "Parse Script JSON"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1168,
        224
      ],
      "id": "64c9d269-5b65-4845-8b1f-7c38618a9998",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/speech",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "audio/mpeg"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini-tts\",\n  \"voice\": \"alloy\",\n  \"input\": \"{{$json.fullNarration}}\",\n  \"format\": \"mp3\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "audio"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "id": "4d32f033-8f2f-4080-afd4-f7a935f6d6a5",
      "name": "Generate TTS Audio"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        144,
        208
      ],
      "id": "6de2fdaf-402a-4e13-9ab8-16b07225536d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "return $json.segments.map(s => ({ json: s }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        208
      ],
      "id": "cbf2785d-8299-425e-ac7f-83d88c735003",
      "name": "Prepare Segments"
    },
    {
      "parameters": {
        "url": "https://api.pexels.com/v1/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "per_page",
              "value": "1"
            },
            {
              "name": "query",
              "value": "={{$json.visualPrompt}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "JW2SpJk71bUJn9slRJQgyITGcc1Bj65XXZ7sSQfoEvSYKNgThIikLXbl"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        224
      ],
      "id": "3ecb7285-371e-4d7f-b2e7-4c381296281f",
      "name": "Pexels Image Search"
    },
    {
      "parameters": {
        "jsCode": "// Get the Pexels photo\nconst photo = $json.photos?.[0];\n\n// Recover original segment data\nconst segment = $item(0).$node[\"Loop Over Items\"].json;\n\nif (!photo) {\n  return [\n    {\n      json: {\n        title: segment.title,\n        visualPrompt: segment.visualPrompt,\n        duration: segment.duration,\n        imageUrl: null,\n        error: \"No image found\"\n      }\n    }\n  ];\n}\n\nreturn [\n  {\n    json: {\n      title: segment.title,\n      visualPrompt: segment.visualPrompt,\n      duration: segment.duration,\n      imageUrl: photo.src.large2x\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        224
      ],
      "id": "46e910a9-7744-452d-84a2-163d64a0ca18",
      "name": "Extract Image URL"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        480,
        16
      ],
      "id": "29a4d5ef-fdaf-4440-aee1-6d899efbb6ae",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get AUDIO binary\nconst audioItem = $items(\"Generate TTS Audio\")[0];\nconst audio = audioItem.binary.audio;\n\n// 2. Get ALL image segment items (connected input)\nconst segments = $items().filter(i => i.json.imageUrl);\n\n// 3. Build JSON2Video \"scenes\" array\nconst scenes = segments.map(seg => ({\n  duration: seg.json.duration,\n  elements: [\n    {\n      type: \"image\",\n      src: seg.json.imageUrl\n    },\n    {\n      type: \"audio\",\n      src: audio // embed the binary so JSON2Video can fetch\n    }\n  ]\n}));\n\nreturn [\n  {\n    json: {\n      scenes\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        16
      ],
      "id": "e22cf0f9-5436-4574-a834-1448d1c7ae79",
      "name": "Build JSON2Video Payload"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "e2385283-1c06-4a75-a633-56d620bcec49",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OF1WKdd2PL1HcLqp",
          "name": "Google Drive account 3"
        }
      }
    }
  ],
  "connections": {
    "Get Next Pending Row": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Generate Script",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Script": {
      "main": [
        [
          {
            "node": "Parse Script JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Script JSON": {
      "main": [
        [
          {
            "node": "Generate TTS Audio",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Next Pending Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate TTS Audio": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Pexels Image Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Segments": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pexels Image Search": {
      "main": [
        [
          {
            "node": "Extract Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Image URL": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Build JSON2Video Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Generate Script": [
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "{\n  \"fullNarration\": \"Sunsets paint the sky with vibrant colors due to light scattering in the atmosphere.\",\n  \"segments\": [\n    {\n      \"title\": \"Golden Hour Sky\",\n      \"visualPrompt\": \"a breathtaking sunset with a golden glow\",\n      \"duration\": 9\n    },\n    {\n      \"title\": \"Science of Colors\",\n      \"visualPrompt\": \"a simple diagram explaining light scattering\",\n      \"duration\": 9\n    },\n    {\n      \"title\": \"Spectrum Illumination\",\n      \"visualPrompt\": \"variety of sunset colors across the sky\",\n      \"duration\": 9\n    },\n    {\n      \"title\": \"Nature's Artistry\",\n      \"visualPrompt\": \"silhouette of trees against a colorful sunset\",\n      \"duration\": 9\n    },\n    {\n      \"title\": \"Sky's Palette\",\n      \"visualPrompt\": \"close-up of clouds reflecting sunset hues\",\n      \"duration\": 9\n    }\n  ]\n}",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      }
    ],
    "Manual Trigger": [
      {
        "json": {
          "name": "First item",
          "code": 1
        }
      },
      {
        "json": {
          "name": "Second item",
          "code": 2
        }
      }
    ],
    "Pexels Image Search": [
      {
        "json": {
          "page": 1,
          "per_page": 1,
          "photos": [
            {
              "id": 3287203,
              "width": 3072,
              "height": 3840,
              "url": "https://www.pexels.com/photo/blue-and-purple-abstract-paiting-3287203/",
              "photographer": "Lucas Pezeta",
              "photographer_url": "https://www.pexels.com/@lucaspezeta",
              "photographer_id": 862177,
              "avg_color": "#4D34C1",
              "src": {
                "original": "https://images.pexels.com/photos/3287203/pexels-photo-3287203.jpeg",
                "large2x": "https://images.pexels.com/photos/3287203/pexels-photo-3287203.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940",
                "large": "https://images.pexels.com/photos/3287203/pexels-photo-3287203.jpeg?auto=compress&cs=tinysrgb&h=650&w=940",
                "medium": "https://images.pexels.com/photos/3287203/pexels-photo-3287203.jpeg?auto=compress&cs=tinysrgb&h=350",
                "small": "https://images.pexels.com/photos/3287203/pexels-photo-3287203.jpeg?auto=compress&cs=tinysrgb&h=130",
                "portrait": "https://images.pexels.com/photos/3287203/pexels-photo-3287203.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=1200&w=800",
                "landscape": "https://images.pexels.com/photos/3287203/pexels-photo-3287203.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=627&w=1200",
                "tiny": "https://images.pexels.com/photos/3287203/pexels-photo-3287203.jpeg?auto=compress&cs=tinysrgb&dpr=1&fit=crop&h=200&w=280"
              },
              "liked": false,
              "alt": "Colorful abstract art with a vibrant blue and pink skyline effect."
            }
          ],
          "total_results": 8000,
          "next_page": "https://api.pexels.com/v1/search?page=2&per_page=1&query=close-up+of+clouds+reflecting+sunset+hues"
        }
      }
    ]
  },
  "versionId": "50a75220-ebc8-472d-af25-9a16ee5d3553",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-11-30T16:05:53.765Z",
      "updatedAt": "2025-11-30T16:05:53.765Z",
      "role": "workflow:owner",
      "workflowId": "xh8KEx4S2beEVDTS",
      "projectId": "nnULjHyqOVknXpmc"
    }
  ],
  "tags": []
}