Backup_2025-11-23_140048/My workflow 40.json
{
  "createdAt": "2025-10-17T09:35:56.139Z",
  "updatedAt": "2025-10-17T10:46:34.000Z",
  "id": "sBfHaK7bW4fkAnLG",
  "name": "My workflow 40",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1aN3PKgQW9QlTqAggsR1l8ix1d2RCUpWa",
            "mode": "list",
            "cachedResultName": "ZenshopInfluencer",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1aN3PKgQW9QlTqAggsR1l8ix1d2RCUpWa"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1120,
        0
      ],
      "id": "222da2f7-8a4f-4c12-a37b-5839953dd8bf",
      "name": "list_influencer_images",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "aclEYLTf0xLCPc7g",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        896,
        0
      ],
      "id": "39ca82d7-ecb7-465d-a564-36fc767b3945",
      "name": "product_image_to_base64"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1792,
        0
      ],
      "id": "16653553-72af-4198-b514-006940ac978c",
      "name": "influencer_image_to_base_64"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image-preview:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [\n      { \"text\": \"Create a realistic lifestyle photo showcasing the hair product from image 1. Generate a scene where someone with beautiful, long, flowing hair similar in style and color to the hair extensions shown in image 1 is photographed in a casual, relatable setting like outdoors, at home, or in an everyday location. Use the person's appearance from image 2 as reference for facial features and style. They should look confident and happy, with the hair clearly visible and flowing naturally. Use angle variation {{ $runIndex % 5 }}: 0=front view facing camera with hair framing the face, 1=side profile showing hair length and volume, 2=back view showcasing the full length and texture, 3=three-quarter angle showing both face and hair flow, 4=dynamic pose with hair in motion or being touched naturally. The photo should feel authentic like a friend took it, not overly professional. The lighting should be natural and flattering, emphasizing the hair's texture, shine, and length. Only return the final generated image.\" },\n      {\n        \"inline_data\": {\n          \"mime_type\": \"image/png\",\n          \"data\": \"{{ $json.data }}\"\n        }\n      },\n      {\n        \"inline_data\": {\n          \"mime_type\": \"image/jpeg\",\n          \"data\": \"{{ $node['influencer_image_to_base_64'].json.data }}\"\n        }\n      }\n    ]\n  }]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2016,
        0
      ],
      "id": "40029a6c-8086-48ab-afb6-8ca38701596d",
      "name": "generate_image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cAWTpPjxWun8tUIM",
          "name": "Header Auth account - google"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "image_result",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2464,
        0
      ],
      "id": "0f1d153b-35e4-4da6-92a9-8352fc6b9bfe",
      "name": "get_image"
    },
    {
      "parameters": {
        "name": "=AD Image #{{ $runIndex + 1 }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1S5gKfnCVtrXXAn_KItP6zXxTuxYv1vr1",
          "mode": "list",
          "cachedResultName": "Zenshop Ad creative",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1S5gKfnCVtrXXAn_KItP6zXxTuxYv1vr1"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2688,
        72
      ],
      "id": "44e76065-6e51-41d3-b78f-504e46a52f75",
      "name": "upload_image",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "aclEYLTf0xLCPc7g",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "524da01b-f8b9-4c2c-9e28-319455903e4d",
              "name": "=image_result",
              "value": "={{ $json.candidates[0].content.parts.filter(item => item.inlineData).first().inlineData.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        0
      ],
      "id": "8688bb3a-dd1a-4335-a8a7-9110a657150d",
      "name": "set_result"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1568,
        0
      ],
      "id": "490c2c02-37d2-44d3-981b-c739e4d97e7c",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "aclEYLTf0xLCPc7g",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1UC66Xaac46Nu_XvUH5NEAd0CDxqqHxW3",
            "mode": "list",
            "cachedResultName": "ZenshopProd",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1UC66Xaac46Nu_XvUH5NEAd0CDxqqHxW3"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        72
      ],
      "id": "8069b3fe-e697-4864-a804-18351b3de499",
      "name": "List_Product_images",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "aclEYLTf0xLCPc7g",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        672,
        0
      ],
      "id": "dfa7485c-8478-40fa-a9ed-9a85c1f8502d",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "aclEYLTf0xLCPc7g",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        72
      ],
      "id": "63e97db5-cc28-4c8d-beb4-6e8773adb050",
      "name": "Loop Over Product"
    },
    {
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1344,
        72
      ],
      "id": "bbb32ae8-8913-4134-8e9a-4dec45531750",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        72
      ],
      "id": "636d5d5c-5882-49b7-9706-2b399e7f4a8f",
      "name": "When clicking 'Execute workflow'"
    }
  ],
  "connections": {
    "list_influencer_images": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "influencer_image_to_base_64": {
      "main": [
        [
          {
            "node": "generate_image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate_image": {
      "main": [
        [
          {
            "node": "set_result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_image": {
      "main": [
        [
          {
            "node": "upload_image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upload_image": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_result": {
      "main": [
        [
          {
            "node": "get_image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "influencer_image_to_base_64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List_Product_images": {
      "main": [
        [
          {
            "node": "Loop Over Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "product_image_to_base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Product": {
      "main": [
        [],
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Loop Over Product",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "List_Product_images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "product_image_to_base64": {
      "main": [
        [
          {
            "node": "list_influencer_images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5f3f28e4-e0b0-4113-bb70-7c75fb1a3f07",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-17T09:35:56.141Z",
      "updatedAt": "2025-10-17T09:35:56.141Z",
      "role": "workflow:owner",
      "workflowId": "sBfHaK7bW4fkAnLG",
      "projectId": "nnULjHyqOVknXpmc"
    }
  ],
  "tags": []
}